
body{
    background-image:url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png);
    font-size: 8pt;
    font-family: Verdana, Tahoma, serif;
    padding:0px;
    margin:0px;
}
   div.banner{ 
       height: 50pt;
       margin-left: 277pt;
       position: absolute;
       
   }
div.bannerbg{
    background-image: url(http://www.cs.washington.edu/education/courses/cse190m/11sp/homework/2/bannerbg.png);
   
}
h1{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 3px 3px 0px #999999;
}
    
div.contenitore{
   
    width:800px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: hidden; 
}
div.blocco1{
    width:550px;
    float: left;
}
div.blocco2{
    float:right;
    background-color: #A2B964;
    width: 250 px;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    padding: 10pt;
    height: 641px;
}
div.rotten{
    float:left;
    font-size:48pt;
    font-weight: bold;
    color:red;
    height: 83px;
}
div.rbg{
    background-image:url(http://www.cs.washington.edu/education/courses/cse190m/11sp/homework/2/rbg.png);
    height: 83px;
   
    
}
div.colonna1{
    float: left;
    width: 47%;
    margin: 2%;
}
div.colonna2{
   float: right;
    width: 47%;
    margin: 2% 2% 2% 0;
}
span.box{
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding:8px;
    display: inherit;
}
span.recensori{
  
    
    font-style: italic;
    margin-left: 5px;
    margin-top: 10pt;
    margin-bottom: 10pt;
    
}
div.tartaruga{
    float:right;
    height: 412px;
}
div.destra{
   
    width: 1200px;
    opacity: 0.5;
    position: fixed;
    top: 580px;
    left: 1250px;
}
